/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}








.index_page{
	width: 100%;
	height: 50em;
	background: #0E44AC;
	display: flex;
	justify-content: center;
}

.conteiner{
	width: 50%;
	padding-top: 20%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.z1 {
	font-size: 24px;
	color: white;
	margin-bottom: 17px;

}

.auto_form{
	display: flex;
	flex-direction: column;
	align-items: center;

}

.auto_form_item {
	margin-bottom: 17px;
}

.auto_form_b {
	margin-bottom: 17px;
	background: #0DA125;
	color: white;
	width: fit-content;
	
}


.infopage{
	width: 100%;
	height: 50em;
	background: #0E44AC;
	display: flex;
	justify-content: center;
}

.infoconteiner {
	width: 50%;
	padding-top: 20%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.learned {
	font-size: 15px;
	color: white;
	margin-bottom: 17px;
}

.repetition {
	ont-size: 15px;
	color: white;
	margin-bottom: 17px;
}

.learnnew_b{
	
	background: #0DA125;
	color: white;
	width: fit-content;
}

.prog{
	height: 1%;
	width: 50%;
	margin-bottom: 17px;
}

.engwords{
	margin-bottom: 17px;
	font-size: 24px;
	color: white;
}

.transcription{
	margin-bottom: 17px;
	font-size: 24px;
	color: white;
}

.frombat{
	margin-bottom: 17px;
}

.show_answer{
	background: #0DA125;
	color: white;
	width: fit-content;
}

.know{
	background: #0DA125;
	color: white;
	width: fit-content;
}

.repeat{
	background: darkkhaki;
	color: white;
	width: fit-content;
}






































