<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="static/main.css">
    <title>EngWords - Авторизация</title>
</head>
<body>
<div class="index_page">
    <div class="conteiner">
        <p class="z1">Авторизация</p>
        <form action="/" method="post" class="auto_form">
            <input type="text" name="username" placeholder="Логин" class="auto_form_item">
            <input type="password" name="password" placeholder="Пароль" class="auto_form_item">
            <input type="submit" name="create_account" value="Создать акаунт" class="auto_form_b">
            <input type="submit" name="enter" value="Войти" class="auto_form_b ">

        </form>
    </div>
</div>
</body>
</html>