<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='main.css', v=1)}}">
    <title>Eng Words личный кабинет</title>

</head>
<body>
    <div class="infopage">
        <div class="infoconteiner">
            <p class="learned">Выучено {{count_l_words}} слов</p>
            <p class="repetition">На повторение 0 слов</p>
            <form  action="{{url_for('info_page',username = session['username'])}}" method="post"  class="buttonstart">
                
                {% if not repeat_words %}
                    <input type="submit" name="learb" value="Выучить новые 5 слов" class="learnnew">
                {% else %}
                    <input type="submit" name="repetitionWords" value="Повторить выученные слова" class="repeat_b" >
                {% endif %}
            </form>
        </div>
    </div>
</body>
</html>